@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<style>
    p {
        font-size: 20px;
        font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 style="font-weight:bold">HOW CAN WE HELP YOU?</h4>
            <p>I want to sign up for a membership or see membership pricing.</p>

            <h4 style="font-weight:bold">I would like to update my billing information.</h4>
            <p>All billing changes and updates have to be done directly by your Snap Fitness club. Find your local club and use the contact information on its webpage to get in touch with them. They will be happy to help!</p>

            <h4 style="font-weight:bold">Call Us</h4>
            <p>015328569</p>
        </div>
    </div>
</div>

